#   git config --global core.excludesfile '~/.gitignore_global'

# Ignore bundler config.
bundle.js
bundle.js.map

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Dependency directories
node_modules
